@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('images/mainBg.png'); 
    font-family: 'Saira Condensed', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* Main container */
.container {
    background: rgba(255, 255, 255, 0.95);
    padding: 2.5rem;
    border-radius: 60px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    position: relative
}

#reserveSeat .container, #changeSeat .container, #cancelSeat .container, #showTicket .container{
    width: 90vw; 
    max-width: 1200px; 
    height: 520px; 
    padding: 1rem;
    margin-top: 150px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    
}

/* Shared Airline Container Design */
.airlineContainerDesign {
    background: linear-gradient(135deg, #49A5F2 0%, #51C3DE 45%, #53D0D6 100%);
    font-weight: lighter;
    padding: 10px 80px 10px 50px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    line-height: 1;
    display: flex;
    align-items: center;
}

/* Main Menu Design */
#mainMenu .airlineContainerDesign {
    border-radius: 30px; 
    margin-bottom: 80px;
    font-size: 70px;
}

/* Other Sections' Design */
#reserveSeat .airlineContainerDesign,
#changeSeat .airlineContainerDesign,
#cancelSeat .airlineContainerDesign,
#showTicket .airlineContainerDesign {
    border-radius: 0 0 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000; 
    font-size: 70px;
}
.airlineDesign {
    height: 90px;
    width: auto;
    padding-left: 20px;
}

.ticketDesign {
    background: linear-gradient(135deg, #49A5F2 0%, #51C3DE 45%, #53D0D6 100%); 
    border: 2px solid #51C3DE;  
    border-radius: 10px;  
    margin: 20px 100px auto 100px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    font-family: 'Arial', sans-serif; 
}

.ticketairlineDesignContainer {
    background: linear-gradient(135deg, #49A5F2 0%, #51C3DE 45%, #53D0D6 100%); 
    border-radius: 30px 0px 30px 0px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    font-size: 50px;
    font-weight: lighter;
    padding: 10px 80px;
    padding-left: 50px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    width: auto;
    height: auto;
    max-width: 500px;
    margin-top: 0px;
    line-height: 1;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    position: relative; 
}

.ticketairlineDesign {
    height: 50px; /* Set the logo height */
    width: auto; /* Set the logo width */
    margin-left: 20px; /* Space between the text and logo */
    object-fit: contain; /* Maintain the aspect ratio of the image */
}

.class-seats-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: rgb(135, 135, 135);
}

.box-container {
    border: 2px solid #51C3DE;
    border-radius: 8px; 
    padding: 15px;  
    background-color: #f9f9f9;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    margin: 20px 50px 10px 50px;
}

.classes, .seats {
    width: 45%; 
}

.name-total-container {
    margin-top: 20px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 400px; /* Add space between elements */
    justify-content: flex-start; /* Align items to the left */
    margin: 20px 50px 20px 50px;
}

#showTicket h3 {
    margin: 10px 0;
}

#showTicket h1 {
    margin: 5px 5px 15px 5px;
    font-size: 30px;
    font-weight: lighter;
    text-align: left; 
}

#showTicket p {
    margin: 10px;
    font-size: 20px;
    font-weight: lighter;
}

h2 {
    margin: 0;
}

#changeSeat p, #cancelSeat p{
    color: #a70800;
    font-size: 25px;
    font-weight: bold;
}

.seatButtons h2, 
#changeSeat h2, 
#cancelSeat h2, 
#showTicket h2{
    color: #464a53;
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    margin: 0px;
    padding: 10px 40px;
}

.seatButtons h3, 
#changeSeat h3{
    border-radius: 10px; 
    background: linear-gradient(135deg, #49A5F2 0%, #51C3DE 45%, #53D0D6 100%);
    font-size: 25px;
    font-weight: bold;
    padding: 5px 50px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    height: auto;
    margin: 0px auto;
    width: fit-content; 
    box-shadow: 0 5px 15px rgba(25, 108, 163, 0.4);
}

.seatButtons h4{
    border-radius: 10px; 
    background: linear-gradient(135deg, #49A5F2 0%, #51C3DE 45%, #53D0D6 100%);
    font-size: 25px;
    font-weight: bold;
    padding: 5px 50px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    height: auto;
    margin: 0px auto; /* Centers the whole h3 element */
    box-shadow: 0 5px 15px rgba(25, 108, 163, 0.4);
}
  
.input-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 15px; /* Add space between elements */
    justify-content: flex-start; /* Align items to the left */
    padding-top: 5px;
    padding: 0px 100px;
    color: #464a53;
    font-size: 15px;
  }

input:focus::placeholder {
    color: transparent; /* Hides the placeholder */
    outline: none; /* Removes the default focus outline */
}

.userNameDesign{
    border-radius: 30px;
    padding: 10px 20px;
    width: 600px;
    font-size: 15px;
    font-weight: light;
    border-color: #51C3DE;
    
}

/* Button container */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Space between buttons */
    align-items: center; 
    margin-top: 2rem; 
}

/* Buttons */
button {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: lighter;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #49A5F2 0%, #51C3DE 45%, #53D0D6 100%);
    color: white;
    box-shadow: 0 5px 15px rgba(49, 165, 242, 0.4);
    transition: all 0.3s ease;
}

#mainMenu .button-group button {
    padding: 0.8rem 2rem;
    margin-top: 0.5rem;
    border-radius: 100px;
    width: 400px;
    cursor: pointer;
    font-size: 1.6rem;
}
.inputButton{
    border-radius: 50px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 20px;
}

.action-buttons, 
#cancelSeat .action-buttons{
    border-radius: 10px;
    margin: 15px 25px 15px 25px;
    padding: 5px 25px;
    font-size: 20px;
}

#reserveSeat .seatButtons button{
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 25px 40px;
    flex-direction: row;
    font-weight: bolder;
}

#changeSeat button {
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 40px;
    flex-direction: row;
    font-weight: bolder;
}

#cancelSeat button {
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 50px 40px 50px 40px;
    flex-direction: row;
    font-weight: bolder;
}

button:hover {
    background: linear-gradient(135deg, #49c4f2 10%, #5178de 45%, #538bd6 100%);
    transform: translateY(-3px); 
}

button:active {
    background: linear-gradient(135deg, #49A5F2 0%, #51C3DE 68%, #53D0D6 100%);
    box-shadow: 0 3px 10px rgba(49, 165, 242, 0.6);
    transform: translateY(2px);
}

.seat {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0; 
    transition: background-color 0.3s ease;
}

.seat:hover {
    background: linear-gradient(135deg, #49c4f2 10%, #5178de 45%, #538bd6 100%);
    color: white;
}

.seat.selected {
    background: linear-gradient(135deg, #8ef5b2 5%, #3dc6af 45%, #00c39b 90%);
    color: white;
    border-color: #51C3DE;
}

.seat.taken {
    background: linear-gradient(135deg, #1b28a3 0%, #266a8e 70%, #2c65c1 100%);
    color: #949494;
    cursor: not-allowed;
    border-color: #333;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
